
<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/toDostyle.css' />

  </head>
  <body >
    <h1><%= greeting %></h1>
    <ul>
      <% tasks.forEach(function(task){ %>
      <li><%= task.toDoTitle %></li>
      <li><%= task.dueDate %></li>

      <li><%= task.description %></i>
      <li><%= task.priority %></li>
       <li><%= task.toDoDone %></li>

      <%  }) %>
    </ul>


  </body>
</html>
