<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>


      	<% tasks.forEach(function(task) { %>

      <div class="todo-item" id="todo_<%= task._id %>">
	      <div>Title: <%= task.toDoTitle %></div>
	      <div>Due Date: <%= task.dueDate %></div>
	      <div>Description: <%= task.description %></div>
	      <div>Priority: <%= task.priority %></div>
	       <div>Completed: <%= task.toDoDone %></div>
		 <div><!--delete button -->
      	<button class="deleteButton" id="<%= task._id %>">Delete This!</button>
      	</div><!--delete button -->
        <div><!--Edit button -->
        <button class="editButton" id="<%= task._id %>">Edit This!</button>
        </div><!--edit button -->

	</div><!--todoitem-->
        <% }) %>


		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.min.js"></script>
	<script src="javascripts/todoHandler.js"></script>
  </body>

</html>
