<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <div class="row">

      <% for (var c = 0;  c < todos.length; c++) { %>
      	<% var currentTodo = todos[c]; %>

      <div class="todo-item" id="todo_<%= currentTodo._id %>">
	      <div class="col-md-1"><%= currentTodo.toDoTitle %></div>
	      <div class="col-md-1"><%= currentTodo.dueDate %></div>
	      <div class="col-md-1"><%= currentTodo.description %></div>
	      <div class="col-md-1"><%= currentTodo.priority %></div>
	       <div class="col-md-1"><%= currentTodo.toDoDone %></div>
		 <div><!--delete button -->
      	<button class="deleteButton" id="<%= currentTodo._id %>">Delete This!</button>
      	</div><!--delete button -->
	</div><!--todo div -->
    <!--   <%  }) %> -->
     </div >

		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.min.js"></script>
	<script src="javascripts/delete.js"></script>
  </body>

</html>
