<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>


       <% for (var c = 0;  c < todos.length; c++) { %>
      	<% var currentTodo = todos[c]; %>
      	<!--  <% tasks.forEach(function(task){ %> -->

      <div class="todo-item" id="todo_<%= currentTodo._id %>">
	      <div class="col-md-1"><%= task.toDoTitle %></div>
	      <div class="col-md-1"><%= task.dueDate %></div>
	      <div class="col-md-1"><%= task.description %></div>
	      <div class="col-md-1"><%= task.priority %></div>
	       <div class="col-md-1"><%= task.toDoDone %></div>
		 <div><!--delete button -->
      	<button class="deleteButton" id="<%= currentTodo._id %>">Delete This!</button>
      	</div><!--delete button -->
	</div><!--list -->
      <%  }) %>


		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.validation/1.13.1/additional-methods.min.js"></script>
	<script src="javascripts/delete.js"></script>
  </body>

</html>
